{% extends "base.html" %}

{% block title %}Blog Application{% endblock %}

{% block body %}
<h5><a href="/">Back</a></h5>
<h1>{{ post.title }}  </h1>
<p>{{post.content}}</p>
<p class="date">
    Published {{ post.created_at }} by {{ post.author }}
</p>

<a href="/posts/{{post.id}}/edit/">Edit</a> <a href="/posts/{{post.id}}/delete/">Delete</a>

<H3>Comments...</H3>
<br/>

{% if not post.post_comments.all %}
    No comments yet... 
{% else %}
    {% for comment in post.post_comments.all %}
        {{ comment.author }} - {{comment.content}}
        <br/>
    {% endfor %}
{% endif %}
<a href="{% url 'add_comment' post.id %}">Add comment</a>
{% endblock %}