{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block body %}

<h1>Profile </h1>
{% if user == profile.user %}
        <button><a href="/users/edit_profile/">Edit Profile</a></button>
{% endif %}
<form method="POST" enctype="multipart/form-data">
    <h2>{{ profile.user.username }}'s Profile</h2> 
    <p>Followers: {{ followers }} | Following: {{ following }}</p>
    {% if user.is_authenticated and user != profile.user %}
        {% if is_following %}
            <form action="" method="post">
                {% csrf_token %}
                <button type="submit"><a href="{% url 'users:unfollow_user' id=profile.user.id %}">Unfollow</a></button>
            </form>
        {% else %}
            <form action="" method="post">
                {% csrf_token %}
                <button type="submit"><a href="{% url 'users:follow_user' id=profile.user.id %}">Follow</a></button>
            </form>
        {% endif %}
    {% endif %}
    <h2>{{ profile.user.first_name }} {{ profile.user.last_name }}</h2>
    <p>Email: {{ profile.user.email }}</p>
    <p>Bio: {{ profile.user.profile.bio }}</p>
    <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" width="400">
    
</form>
{% endblock %}